 body {
    /* height: 90vh; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#display>* {
    border: none;
    height: 100vh;
    width: 100vw;
    /* margin-left: 25px; */
    /* margin-right: 25px; */
} 

.jqslider {
    margin-top: 15px;
    margin-bottom: 15px;
}

.centered {
    align-self: center;
    align-content: center;
    align-items: center;
}